<?xml version="1.0"?>
<!--
/**
 * @author Mikhail Ziablitsev <mzuablitsev@gmail.com>
 * @copyright © 2023 Intexsoft.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mizir_DeveloperConfigurationInProductionMode"/>
</config>
